<head>
  <script src="/vendor/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="/vendor/leaflet/leaflet.css"/>
</head>

<header class="container-fluid" style="padding-left: 50px;">
  <div class="row">
    <div class="col-md-9">
      <h1>{{title}}</h1>
    </div>
    <div class="col-md-3">
      <p style="padding-top: 22px; text-align: right;">Dataset provided by the <a href="https://data.cityofboston.gov/" target="_blank">City of Boston.</a></p>
    </div>
  </div>
  <div class="row">

    <div class="col-md-2">
      <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" style="width: 20px;height: 20px;" class="icon-image">
        <circle cx="60" cy="60" r="50" stroke="#f03" stroke-width="3" fill="rgba(255, 0, 51, 0.3)"/>
      </svg>
      <p class="icon-text">Food Establishment</p>
    </div>

    <div class="col-md-2">
      <img src="/icons/corner_store.png" class="icon-image"/>
      <p class="icon-text">Healthy Corner Store</p>
    </div>

    <div class="col-md-2">
      <img src="/icons/orchard.png" class="icon-image"/>
      <p class="icon-text">Urban Orchard</p>
    </div>

    <div class="col-md-2">
      <img src="/icons/barn.png" class="icon-image"/>
      <p class="icon-text">Urban Farm</p>
    </div>

  </div>

</header>

<div id="map"></div>

<script src="/javascripts/main.js"></script>