<head>
  <script src="/vendor/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="/vendor/leaflet/leaflet.css"/>
</head>

<header>
  <h1>{{title}}</h1>
</header>

<div id="map"></div>

<script src="/javascripts/main.js"></script>