<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/typography.css' />
    <script src="/vendor/d3/d3.js" charset="utf-8"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
