html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #131313;
  height:100%;
}

header {
  height: 76px;
  width: 100%;
  color: white;
  padding-left: 50px;
  padding-right: 12px;
  position: absolute;
  z-index: 2;
  background-color: rgba(19, 19, 19, 0.85);
}

a {
  color: #00B7FF;
}

#map {
  height:100%;
  width:100%;
}